body{
    margin: 20px auto;
    background-color: #f0f2f5;
    color: #333;
    margin: 0;
    padding: 20px;
}



h1{
    color: gray;
    font-family: Arial;
    text-align: center;
}

h2{
    color: gray;
    font-family: Arial;
    text-decoration: underline rgba(128, 128, 128, 0.434);
}


#contact label{
    display: block;
    font-family: arial;
    font-weight: bold;
    font-size: small;
    margin: 12px;
    text-decoration: underline;
}

#contact input,  textarea{
    width: 30%;
    box-sizing: border-box;
    padding: 10px;
    border-style: solid;
    border: none;
    border-radius: 2px;
}


#contact h2{
    text-align: center;
    color: re;
    margin-bottom: 25px;
}

#contact{
    background-color: rgba(27, 4, 4, 0.224);
    max-width: 600px;
    box-sizing: border-box;
    padding: 10px 1px;
}

#contact form{
    margin-left: 5px;
    border-radius: 5px;
}

.cont_links{
    display: flex;
    gap: 25px;
    justify-content: space-between;
    align-items: center;
}

nav{
    background-color: rgb(228, 255, 200);
    box-shadow: 0 3px 3px 3px #545454;
    padding: 10px 20px;
    max-width: 600px;
    box-sizing: border-box;
}

button{
    padding: 12px 24px;
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    display: block;
    width: 99%;
    color: white;
    background-color: #3498db;
    transition: backgrond-color 0.75s;
    margin-bottom: 5px;
    margin-top: 10px;
}
 
button:hover{
    background-color: white;
    text-decoration: underline;
    box-shadow: 0 0px 2px 3px gray;
    color: #042c47;
}
button:active{
    color:whitesmoke;
    text-decoration: none;
}

img{
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    width: 30%;
    height: 30%;
    margin-bottom: 50px;
}

p{
    font-size: 15px;
    font-family: tahoma;
}